.sidmenu {
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sidmenu .menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: var(--clr-primary);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidmenu .menu-item:hover {
  background-color: var(--clr-primary);
  color: white;
}

.sidmenu .menu-item .icon-dashboard,
.sidmenu .menu-item .icon-orders,
.sidmenu .menu-item .icon-products,
.sidmenu .menu-item .icon-manage-brand,
.sidmenu .menu-item .icon-manage-category,
.sidmenu .menu-item .icon-manage-subcategory,
.sidmenu .menu-item .icon-add-brand,
.sidmenu .menu-item .icon-add-category,
.sidmenu .menu-item .icon-add-subcategory,
.sidmenu .menu-item .icon-add-product,
.sidmenu .menu-item .icon-users,
.icon-reviews,
.icon-settings {
  margin-right: 10px;
  font-size: 18px;
}

/* Specific styles for each icon */
.icon-dashboard {
  color: #3498db;
}

.icon-orders {
  color: #e74c3c;
}

.icon-products {
  color: #2ecc71;
}

.icon-manage-brand,
.icon-add-brand {
  color: #f39c12; /* Same color for managing and adding brand */
}

.icon-manage-category,
.icon-add-category {
  color: #9b59b6; /* Same color for managing and adding category */
}

.icon-manage-subcategory,
.icon-add-subcategory {
  color: #34495e; /* Same color for managing and adding subcategory */
}

.icon-add-product {
  color: #1abc9c;
}

/* Color for Manage Users */
.icon-users {
  color: #e67e22;
}

/* Color for Account Settings */
.icon-settings {
  color: #2980b9;
}

/* Color for Product Reviews */
.icon-reviews {
  color: #f1c40f;
}

.sidmenu .menu-item span {
  font-size: 16px;
}

/* Responsive styling */
@media (max-width: 992px) {
  .sidmenu {
    width: 100%;
    text-align: center;
  }
}
