.form-container {
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #0EA5E9;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #ccc;
}

.login {
  width: 100%;
  padding: 0.75rem 2rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login:hover {
  background-color: var(--clr-primary--hover);
}

/*      disabled state */
.login:disabled {
  background-color: #555;
  cursor: not-allowed;
  opacity: 0.7;
}

.form-footer {
  margin-top: 20px;
}

.form-footer > span {
  display: block;
  margin-bottom: 10px;
}

.form-footer p {
  color: #4B5563;
  margin: 0;
}

.form-footer .register:hover {
  text-decoration: underline;
}
